.App {
    background-color: #fff;
    color: rgb(85, 85, 85);
    border-radius: 32px;
    box-shadow: 0 10px 14px -6px rgb(0, 0, 0);
    height: 75vh;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.button--primary {
    color: green;
}

.tags--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttons--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}