.App {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E0E5EC;
    color: rgb(85, 85, 85);
    border-radius: 32px;
    box-shadow:
        -10px -10px 20px rgb(255, 255, 255, .5),
        10px 10px 20px rgba(163, 177, 198, 0.5);
    height: 700px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.place-photo,
.place-photo-shadow {
    position: absolute;
    border-radius: 20px;
    max-height: 300px;
    left: 50%;
}

.place-photo {
    z-index: 10;
    transform: translateX(-50%);
}

.place-photo-shadow {
    display: none;
    filter: blur(18px);
    transform: scale(.85) translateY(30px) translateX(-57%);
}

.place-info {
    margin-top: auto;
    margin-bottom: 15px;
}

.tags--chip {
    box-shadow:
        -7px -7px 12px rgb(255, 255, 255, .5),
        7px 7px 12px rgba(163, 177, 198, .3);
}

.button--primary {
    color: green;
}

.tags--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttons--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}